.app {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr;
  &-wrapper {
    width: 80%;
  }
}

.elements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

// todo-element {
//   margin-top: 1%;
//   width: 100%;
//   display: inline-block;
// }
